.game-card-row {
  margin: 0px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.game-card-container {
  margin-top: 15px;
  max-height: 600px;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: 2px 2px 2px 1px #494e6b;
  border-radius: 5px;
}

.game-card-container:hover {
  box-shadow: 2px 2px 2px 2px #494e6b;
}

.img-section {
  display: flex;
  flex-direction: column;
}

.game-screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.screenshot-img {
  transition: transform 0.8s ease-in-out;
  width: 150px;
  height: 100px;
}

.screenshot-img:hover {
  transform: scale(1.5);
}

.game-info-col {
  padding-left: 25px;
  font-family: "Alfa Slab One", cursive;
}

.game-title {
  font-family: 'Permanent Marker';
  color: #494e6b;
  font-size: 1.3rem;
}

.main-game-img {
  border-radius: 5px;
}