.game-card-row {
  margin: 0px;
  box-shadow: 1px 1px 1px 1px lightgray;
  padding-top: 15px;
}

.img-section {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.game-screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.screenshot-img {
  transition: transform 0.8s ease-in-out;
  width: 150px;
  height: 100px;
}

.screenshot-img:hover {
  transform: scale(1.5);
}

.game-info-col {
  padding-left: 25px;
}

.main-game-img {
  border-radius: 5px;
}

.game-title {
  color: #494e6b;
  font-family: 'Permanent Marker';
}

.game-info-col {
  font-family: 'Alfa Slab One', cursive;
}

.game-summary {
  line-height: 1.45;
  padding-top: 5px;
}