.game-card-row {
  margin: 0px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.img-section {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.game-screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.screenshot-img {
  transition: transform 0.8s ease-in-out;
  width: 150px;
  height: 100px;
}

.screenshot-img:hover {
  transform: scale(1.5);
}