@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Archivo+Black|Permanent+Marker');

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #98878F;
  align-items: center;
  justify-content: space-evenly;
}

.nav-list a {
  color: #98878F;
  text-decoration: none;
  transition: 0.8s ease-in-out;
}

.nav-list a:hover {
  color: #efdede;
}

.nav-list-item {
  padding: 15px;
  transition: 0.8s ease-in-out;
  cursor: pointer;
  font-family: 'Alfa Slab One', cursive;
}

.nav-list-item:hover {
  color: #efdede;
  transform: scale(1.1);
}

nav {
  background-color: #494E6B;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #98878F;
}

.nav-title {
  font-size: 2.0rem;
  font-family: 'Permanent Marker';
}

.searchBar {
  display: flex;
}

.searchBtn {
  background-color: #98878F;
  color: #494E6B;
  transition: all 0.8s ease-in-out;
  box-shadow: 0px 1px 1px 0px #efdede;
  margin-left: 5px;
}

.searchBtn:hover {
  background-color: #efdede;
  box-shadow: 0px 1px 1px 0px #98878F;
}

.searchDiv {
  font-family: 'Alfa Slab One', cursive;
}